.body{
    background-color: cornsilk;
}
.navbar{
    margin-left: 10px;
    background-color:cornsilk ;
}
#side{
    margin-left: 300px;
}
li{
    margin-left: 10px;
}
.main{
    margin-top: 30px;
    
    margin-left: 150px;
}
.main2{
    margin-top: 70px;

}
.main3{
    margin-top: 70px;
}
.main4{
    margin-top: 70px;
}
.card-deck{
   
    width: 1200px;
}
.card{
    box-shadow: 8px 8px 8px 8px rgba(0,0,0.19,0.19) ;
    height: 500px;
}
.flex-container{
    /* background-image: url(56toSarafapnglogo.png); */
    background-color:cornsilk;
    margin-top: 30px;
    width: auto;
    height: 200px;
}
#img{
    width: auto;
    height: auto;
    margin-right: 10px;
}
#img2{
    width: auto;
    height: auto;
    margin-right:10px;
}
#img3{
    width: auto;
    height: auto;
    margin-right:10px;
}
#img4{
    width: auto;
    height: auto;
    margin-right:10px;
}
#img5{
    width: auto;
    height: auto;
    margin-right:10px;
}
#img6{
    width: auto;
    height: auto;
    margin-right:10px;
}
#img7{
    width: auto;
    height: auto;
    margin-right:10px;
}
#img8{
    width: auto;
    height: auto;
    margin-right:10px;
}
#img9{
    width: auto;
    height: auto;
    margin-right:10px;

}
img{
    margin-left: 10px;
   width: 400px;
   height: 600px;
}
.flex-container{
    padding-top: 0px;
    height: 200px;
    text-align: center;
}
#inp{
    text-align: center;
    width: 400px;
}
#lastdiv p{
    font-family: 'Pinyon Script', cursive;
  width: auto;
  height: auto;
  text-align: center;
  color: rgb(236, 132, 12);
  background-color:#8c0303;
  font-size: small;
  font-weight:lighter;
}
#logo{
    width: 305px;
    height: 190px;
}
.div1 p{
    margin-top: 30px;
    font-family: 'Poiret One', cursive;

    /* font-family: 'Tangerine', cursive; */
    text-align: center;
    font-size: 40px;

}
.div1 p span{
    font-family: 'Tangerine', cursive;
    font-size:70px;
}
.flex-container p{
    margin-left: -40px;
    margin-top: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
}
.flex-container ul {
    list-style: none;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    margin-right: 156px

}